<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630622279871-gjkp2e5t1sonvpbsl66hl767faqvbd6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630622279871-gjkp2e5t1sonvpbsl66hl767faqvbd6a</string>
	<key>API_KEY</key>
	<string>AIzaSyD7a7i6JeLoquiFK4RSAW7VYPm06HrcmTY</string>
	<key>GCM_SENDER_ID</key>
	<string>630622279871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nsi.qcNis</string>
	<key>PROJECT_ID</key>
	<string>nsi-qc</string>
	<key>STORAGE_BUCKET</key>
	<string>nsi-qc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630622279871:ios:985312e047749fa7a14e0a</string>
</dict>
</plist>